body {
    background: black;
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#ascii {
    font-family: monospace;
    line-height: 8px;
    font-size: 7px;
    white-space: pre;
}